@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*-------------Navegador------------*/
.navbar-pinterest {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 16px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 999;
    top: 0px;
    background-color: white;
    box-shadow: 0 3px 3px rgb(50 50 93 / 5%), 0 3px 3px rgb(0 0 0 / 7%);
}

nav .nav-bttn {
    white-space: nowrap;
    height: 50px;
    min-width: 60px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bttn input {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    border: none;
}

/*Boton inicio*/
nav .main {
    background-color: black;
    padding: 0px 16px;
}

nav .main input {
    color: white;
}

nav .today:hover {
    background-color: #EFEFEF;
}

.mobile-down {
    display: none
}

.mobile-search {
    display: none;
}

/*Iconos del navegador*/
.icon-main {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pinterest-icon {
    border-radius: 50%;
}

.navbar-pinterest img {
    width: 30px;
    height: fit-content;
}

a>.pinterest-icon {
    width: 24px;
}

/*Buscador*/

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.box-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #EFEFEF;
    border-radius: 24px;
    height: 48px;
    padding: 8px 18px;
    margin: 0px 10px;
    flex-grow: 1;
}

.box-search:hover {
    background-color: #E1E1E1;
}

.box-search div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box-search img {
    padding: 5px;
}

.finder {
    background-color: transparent;
    color: .333;
    font-weight: normal;
    height: fit-content;
    outline: none;
    padding: 0;
    width: 100%;
    font-size: 15px;
    border: none;
}

/*Iconos de la derecha*/

.icon-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications img,
.message img,
.profile-img img {
    width: 24px;
    height: 24px;
}

.options img {
    width: 12px;
    height: 12px;
}

.notifications,
.message,
.profile-img {
    border-radius: 50%;
    padding: 12px;
}

.options {
    border-radius: 50%;
    padding: 2px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications:hover,
.message:hover,
.profile-img:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    padding: 12px;
}

.icon-right .options:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    padding: 10px;
}

.profile-img>img {
    border-radius: 100%;

}

.profile-img,
.options>img {
    border-radius: 50%;
}

/*-------------Contentendedor de images------------*/

main {
    padding: 0vw 5vw;
    margin-top: 80px
}

/*Contenedor de todas las imagenes*/
.content {
    display: flex;
    height: 200vw;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

/*Contendedor de cada una de las imagenes*/
.content .card-image {
    margin: 10px;
    width: 19%;
    cursor: zoom-in;
    position: relative;
}

/*Imagenes del content*/
.card-image img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

/*HOVER*/

.card-image:hover {
    filter: brightness(90%);
}

.card-image:hover .profile {
    display: block;
    cursor: pointer;
}

.card-image:hover .box-save {
    display: block;
}

.card-image:hover .box-upload {
    display: block;
    cursor: pointer;
}

.card-image:hover .box-options {
    display: block;
    cursor: pointer;
}

/*Iconos de la capa hover*/
.profile {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 16px;
    width: auto;
    height: auto;
    padding: 12px;
    display: inline;
    color: white;
    display: none;
}

.profile>img {
    width: 8%;
    padding-left: 5px;
}

.box-save {
    display: none;
}

.box-save>input {
    background-color: red;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 12px;
    border-radius: 20px;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.box-save>input:hover {
    background-color: rgb(195, 64, 64);
}

.box-upload,
.box-options {
    display: none;
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 100%;
    padding: 6px;
}

.box-upload {
    bottom: 8px;
    right: 50px;
}

.box-options {
    bottom: 8px;
    right: 8px;
}

.box-upload>img {
    width: 100%;
    height: auto;
}

.box-options>img {
    width: 100%;
}

@media screen and (max-width: 1115px) {
    main {
        margin-top: 85px;
        margin: 7vw;
    }

    .content {
        height: 270vw;
    }

    .content .card-image {
        width: 25%;
    }

    .box-upload,
    .box-options {
        width: 33px;
        height: 33px;
        padding: 6px;
    }
}

@media screen and (max-width: 1000px) {
    main {
        margin-top: 80px;
        margin-left: 7vw;
        margin-right: 7vw;
    }

    .content {
        height: 450vw;
    }

    .content .card-image {
        width: 30%;
    }

    .box-upload,
    .box-options {
        width: 32px;
        height: 32px;
        padding: 6px;
    }
}

@media screen and (max-width: 750px) {
    main {
        margin-top: 80px;
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .content {
        height: 1050vw;
    }

    .content .card-image {
        width: 45%;
    }

}

@media screen and (max-width: 680px) {

    .content {
        height: 1200vw;
    }

    .content div {
        width: 44%;
    }

    .finder {
        display: none;
    }

    .box-search {
        display: none;
    }

    nav>.today {
        display: none;
    }

    nav>.nav-bttn {
        background-color: white;
        color: black;
    }

    nav>.nav-bttn>input {
        background-color: transparent;
        color: black;
    }

    nav .mobile-down {
        display: block;
        margin-left: 5px;
        width: 15px;
        height: auto;
    }

    nav .mobile-search {
        display: block;
    }

    nav .mobile-search>img {
        width: 24px;
        height: 24px;
    }

    .mobile-search {
        border-radius: 50%;
        padding: 12px;
    }

    .mobile-search:hover {
        background-color: rgb(240, 240, 240);
        border-radius: 50%;
        padding: 12px;
    }

    .nav-bttn:hover {
        background-color: rgb(240, 240, 240);
    }

    .box-upload,
    .box-options {
        background-color: transparent;
    }

    .box-upload img,
    .box-options img{
        display: none;
    }

}

@media screen and (max-width: 550px) {

    .content {
        height: 1200vw;
    }

    .content div {
        width: 48%;
    }
}

@media screen and (max-width: 470px) {
    .content img:hover {
        z-index: 20;
        position: relative;
    }
}

@media screen and (max-width: 410px) {

    .message,
    .notifications {
        display: none;
    }
}

@media screen and (max-width: 320px) {

    nav .mobile-down,
    .profile-img {
        display: none;
    }

}